@media only screen and (max-width: 600px) {
.button {
    background-color: #3D211A;
    color: white;
}

.image {
    width: 150px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  position: relative;
}

.corner {
  width: 95px;
  height: 95px;
  background-color: #5b362d;
  position: absolute;
}

.top-left {
  top: 0;
  left: 0;
  border-bottom-right-radius: 50px;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-top-left-radius: 50px;
}

/* Create Account*/
.create-account {
    font-size: 12px;
    color: #777;
    cursor: pointer;
    margin-bottom: 15px;
    font-family: 'Garet', sans-serif;
}

.login-btn {
    width: 100%;
    background: #5b362d;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Garet', sans-serif;
}

.input-group {
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Garet', sans-serif;
  }

  .input-group input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    outline: none;
    padding: 8px 5px;
    font-size: 14px;
    font-family: 'Garet', sans-serif;
  }
}