.navbar {
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #3D211A;
    font-family: Garet, serif;
    transition: right 0.5s;
    z-index: 100;
}

.navbar.open  {
    right: 0;
}

.burger {
    display: flex;
    justify-content: right;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style: none;
    font-size: 250%;
    width: 100%;
}

.navbar li {
    margin: 2rem 0 2rem 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

